TgCrypto
git+https://github.com/pyrogram/pyrogram@master
py-tgcalls==0.8.1rc1
requests
aiohttp
Pillow
aiofiles
asyncio
wget
python-arq
youtube-search-python
yt-dlp
python-dotenv
gTTS
emoji
googletrans==3.1.0a0
googletrans==4.0.0rc1
