TgCrypto
git+https://github.com/pyrogram/pyrogram@master
py-tgcalls==0.8.1rc1
requests
aiohttp
aiofiles
asyncio
wget
python-arq
youtube-search-python==1.4.6
youtube-search-python
yt-dlp
python-dotenv
gTTS
googletrans==4.0.0rc1
